{% extends 'base/base.html' %}

{% load static %}

{% block 'content' %}
<br><br><br><br><br>

<section id="appointment" class="appointment section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Make an Appointment</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <form>

      <div class="form-row">

        <div class="form-group col-md-8 ml-10 mt-4 ">
          <input type="text" class="form-control" placeholder="Your name">
        </div>


        <div class="form-group col-md-8 mt-4">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email">
        </div>


        <div class="form-group col-md-8 mt-4">
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group col-md-8 mt-4">
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group col-md-8 mt-4">
          <input type="text" class="form-control" id="pick-date" placeholder="Pick A Date">
        </div>

        <div class="col-md-8">
          <button type="submit" class=" mt-4 mr-5 btn btn-success" style= "background: #65c9cd; border: none; ">Make An Appointment</button>
        </div>
        
    </form>
  
</div>
</div>
</section>

{% endblock 'content' %}