{% extends "base/base.html" %}

{% load static %}

{% block 'content' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        {% for banner in banners  %}
        <div class="carousel-item active" style="background-image: url( {{banner.image}} )">
          <div class="container">
            <h2>{{banner.title}}</h2>
            <p>{{banner.description}}</p>
            <a href="{% url 'about' %}" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>
        {% endfor %}
        
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          {% for service in services|slice:'4' %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="{{service.icon}}"></i></div>
              <h4 class="title"><a href="">{{service.title}}</a></h4>
              <p class="description">{{service.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
       
        <div class="text-center">
          <h3>{{emergencies.title}}</h3>
          <p style= "color: #fff;">{{emergencies.description}}</p>
          <a class="cta-btn scrollto" href="{% url 'appointment' %}">Make an appointment</a>
        </div>
     
        

      </div>
    </section><!-- End Cta Section -->
  </main><!-- End #main -->

{% endblock 'content' %}