{% extends 'base/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block 'content' %}

<br><br><br><br><br><br><br>
<div class="container mt-4" >
    <div class="row justify-content-center">
    <div class="col-8">
        <h2 class="mt-2">Login</h2>
        <hr class="mt-4 mb-4">
            <form method="POST">

                {% csrf_token %}

                {% render_field form.username class="mt-4 form-control" placeholder=form.username.label %}

                {% render_field form.password class="mt-4 form-control" placeholder=form.password.label %}

                <button type="submit" class="mt-4 btn btn-success">Login</button>

                <br><br><br><br><br>
            </form>
        </div>
    </div>
</div>

{% endblock 'content' %}